*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}



body{
    font-family: monospace;
    color: #464646;
}

section {
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

img{
    max-height: 300px;
}

h1{
    font-size: 70px;
    line-height: 0.8;
}

p{
    font-size: 20px;
}

button{
    font-family: monospace;
    border: none;
    border-radius: 7px;
    background-color: #70A9A1;
    padding: 20px 60px;
    margin-top: 153px;
}

/* .linha{
    margin-top: 15px;
    background-color: #464646;
    height: 2px;
    max-width: 350px;
} */

.funcao{
    margin-top: 20px;
    padding: 8px;
    border-top: 3px solid #464646;
}

.profile{
 /* background-color: aqua; */
}

.terminal{
    font-family: monospace;    border-radius: 10px 10px 0px 0px;
    align-self: flex-end;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 70%;
    background-color: #464646;
    color: #70A9A1;
}